# <span style='font-family:Georgia'> <span style='background:yellow'> **NAME - NEERAJ KUMAR**  </span>

## <span style='font-family:Georgia'> <span style='background:yellow'> **Data Science & Business Analytics Tasks**  </span>

### <span style='color:black'><span style='background:yellow'>**TASK-4: Exploratory Data Analysis - Terrorism** </span>
#### <span style='color:black'><span style='background:yellow'> **(Perform Exploratory Data Analysis On Dataset Global Terrorism, What all security issues and insights you can drive by EDA. ?)**  </span>

#####

## Importing the Dependencies

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the dataset

In [ ]:
dataset_link = "https://bit.ly/2TK5Xn5"
df = pd.read_csv("terrorism.csv", encoding='ISO-8859-1')
df.sample(3)

In [ ]:
df.shape

In [ ]:
df.columns

## Selecting the required columns

In [ ]:
df_req = df[['iyear','imonth','iday','gname','country_txt','region_txt',
               'provstate','city','attacktype1_txt',
               'targtype1_txt','nkill','weaptype1_txt','nwound']]

## Renaming the columns

In [ ]:
df_req.rename(columns={'country_txt':'Country','region_txt':'Region',
                       'city':'City','nkill':'Killed','nwound':'Wounded',
                       'gname':'Group Name','iday':'Day','imonth':'Month','iyear':'Year',
                       'attacktype1_txt':'AttackType','weaptype1_txt':'WeaponType',
                       'targtype1_txt':'TargetType','provstate':'Provstate'},inplace=True)

In [ ]:
 df_req.head()

## Handling NULL values

In [ ]:
df_req.isnull().sum()

Observations:
  - 421 NULL values in Provstate column
  - 434 NULL values in City column
  - 10313 NULL values in Killed column
  - 16311 NULL values in Wounded column

In [ ]:
df_req.fillna(0,inplace=True)

In [ ]:
df_req.isnull().sum()

## Handling duplicated values

In [ ]:
df_req.duplicated().sum()

there are 14314 duplicated values in the dataset

In [ ]:
df_req.drop_duplicates(inplace=True)

In [ ]:
df_req.duplicated().sum()

In [ ]:
df_req.shape

##  Info & desccribe

In [ ]:
df_req.info()

In [ ]:
df_req.describe()

In [ ]:
df_req.head()

##  Attacks In each Year

In [ ]:
plt.figure(figsize=(18,4))
df_req.Year.value_counts().sort_index().plot(kind='bar',color="black")
plt.xlabel('Year',fontsize=15)
plt.ylabel('Number of Attacks',fontsize=15)
plt.title('Attacks In Each Year',fontsize=20)
plt.show()

Observations:
 - From 2012, there is signigicant increase in attacks.
 - 2014 was the most affected year by the terrorism

## Most Attacking Groups Of  The Terrorists

In [ ]:
plt.figure(figsize=(14,6))
df_req["Group Name"].value_counts()[1:10].plot(kind='bar',color='black')
plt.xticks(rotation=80)
plt.xlabel('Group Name',fontsize=15)
plt.ylabel('Number Of Attack',fontsize=15)
plt.title('Top 15 Groups Of The Terrorists',fontsize=20)
plt.show()

As we can see the most attacks are done by Taliban over the years

### Most Affected Countries By The Terrorism

In [ ]:
plt.figure(figsize=(14,6))
df_req.Country.value_counts()[0:10].sort_index().plot(kind='bar',color='black')
plt.xlabel('Countries',fontsize=15)
plt.ylabel('Number Of Attack',fontsize=15)
plt.title('Top 10 Affected Countries',fontsize=20)
plt.show()

Observations:
- Iraq is the most affected country by the terrroism
- Pakistan & Afghanistan are the second and third most affected countries
- India is at 4th place in this list

## Most Affected Regions By The Terrorism

In [ ]:
plt.figure(figsize=(14,6))
df_req.Region.value_counts().plot(kind='bar',color='black')
plt.xlabel('Regions',fontsize=15)
plt.ylabel('Number Of Attack',fontsize=15)
plt.title('Affected Regions',fontsize=20)
plt.show()

Observations:
 - Middle East & North Africa is the most affected region
 - Australasia and Oceania is the less affected region by the terrorism

## Attack Type

In [ ]:
plt.figure(figsize=(14,6))
df_req["AttackType"].value_counts().plot(kind='bar',color='black')
plt.xlabel('Attack Type',fontsize=15)
plt.ylabel('Number Of Attack',fontsize=15)
plt.title('Tactics Used In Terror Attacks',fontsize=20)
plt.show()

Observation:
 - Bombing/Explosion is mostly used tactic in terror attack

## Top-10 Mostly Targeted Communities By The Terrorists

In [ ]:
plt.figure(figsize=(14,6))
df_req.TargetType.value_counts()[:10].plot(kind='bar',color='black')
plt.xlabel('Community',fontsize=15)
plt.ylabel('Number Of Attack',fontsize=15)
plt.title('Mostly Targeted Communities',fontsize=20)
plt.show()

- Citizens & Property is the most targeted community by the terrorists

## Top-5 Most Used Weapons

In [ ]:
plt.figure(figsize=(20,8))
df_req.WeaponType.value_counts()[:5].plot(kind='pie',explode=[0,0.05,0,0,0],autopct='%1.0f%%')
plt.show()

Observation:
 - Explosives & Firearms are the most used weapons by the terrorist

## People Killed By Terrorists In Every Year

In [ ]:
plt.rcParams["figure.figsize"] = (18,8)
df_req[['Year','Killed']].groupby(['Year']).sum().plot(kind='bar',color='black')
plt.xlabel('Year',fontsize=15)
plt.ylabel('Number of killed people',fontsize=15)
plt.title('People Killed In Terror Attack',fontsize=20)
plt.show()

- In 2014, more people were killed due to terrorist attack

##  Total People Killed In Terrorist Attack

In [ ]:
df_req["Killed"].sum()

## Countries Which Suffered Most From Terrorism

In [ ]:
plt.figure(figsize=(14,6))
coun_kill = df_req.groupby(["Country"]).sum()["Killed"]
print(coun_kill.sort_values(ascending=False)[:10])
coun_kill.sort_values(ascending=False)[:10].plot(kind="bar",color='black')


plt.xlabel('Country',fontsize=15)
plt.ylabel('Total People Killed',fontsize=15)
plt.title('10 Countries Which Suffer Most From Terrorism',fontsize=20)
plt.show()

Observations:
- Iraq suffered most from the terrorism over the years
- India comes at 5th position in this list

## Year In Which Cities Suffered Most From Terrorism

In [ ]:
plt.figure(figsize=(14,6))
city_kill = df_req.groupby(["City","Year"]).sum()["Killed"]
print(coun_kill.sort_values(ascending=False)[:10])
city_kill.sort_values(ascending=False)[:10].plot(kind="bar",color='black')

plt.xlabel('City',fontsize=15)
plt.ylabel('Total People Killed',fontsize=15)
plt.title('10 Cities With Year Suffered Most From Terrorism',fontsize=20)
plt.show()

Observations:
- City Baghdad faced most casualties in year 2006
- New York faced high casualties in year 2001 (9/11 attack)

## Terrorism In India

In [ ]:
df_india = df_req[df_req["Country"]=='India']
print("Shape of the dataset: " , df_india.shape)
df_india.head()

## 10 Most Attacking Terrorist Groups In India

In [ ]:
df_india["Group Name"].value_counts()[1:11].plot(kind='bar',color='black')
plt.xticks(rotation=70)

plt.xlabel('Terrorist Groups',fontsize=15)
plt.ylabel('Number Of Attacks',fontsize=15)
plt.title('Attacking Groups In India',fontsize=20)
plt.show()

#####

## Insights
- From 2012, there is signigicant increase in attacks.
- 2014 was the most affected year by the terrorism
- Most terrorist attacks are done by the Taliban
- Iraq is the most affected country by the terrroism
- Pakistan & Afghanistan are the second and third most affected countries
- India is at 4th place in this list
- Middle East & North Africa is the most affected region
- Australasia and Oceania is the less affected region by the terrorism
- Bombing/Explosion is mostly used tactic in terror attack
- Citizens & Property is the most targeted community by the terrorists
- Explosives & Firearms are the most used weapons by the terrorist
- In 2014, more people were killed due to terrorist attack
- Total 405210 people killed by the terrorists as per dataset
- City Baghdad faced most casualties in year 2006
- New York faced high casualties in year 2001 (9/11 attack)

#####

#####